.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card, .dark-mode .list-group-item {
  background-color: #222;
  color: white;
}

.dark-mode .btn-outline-secondary {
  border-color: white;
  color: white;
}

.nav-tabs .nav-link {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}